*{
	margin: 0;
	padding: 0;
	font-family: "Segoe UI", Frutiger, "Frutiger Linotype", "Dejavu Sans", "Helvetica Neue", Arial, sans-serif;
}

body{
/*	border: 1px green solid;*/
	height: 90vh;
	width: auto;
	margin: 3%;
	display: flex;
	justify-content: center;
	align-content: center;
	justify-items: center;
	background-color: #A94438;
}

#body{
	height: 100%;
	width: 100%;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	align-items: center;
	gap: 2%;
}

#display{
	border: 1px black solid;
	width: 98%;
	height: 19%;
	font-size: 300%;
	font-weight: 800;
	border-radius: 30px;
	background: #E4DEBE;
}

#buttons{
	width: 98%;
	height: 79%;
	display: flex;
	flex-direction: row;
}

button{
	height: 23%;
	font-size: 300%;
	font-weight: 800;
	border-radius: 30px;
	border: 1px black solid;
	background: #E4DEBE;
}

button:hover{
	background: #E6BAA3;
	color: #A94438;
}

#values{
	height: 100%;
	width: 60%;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	align-items: center;
	justify-content: space-around;
}

#values>button{
	width: 32%;
}

#controller{
	height: 100%;
	width: 40%;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	align-items: center;
	justify-content: space-around;
}

#controller>button{
	width: 49%;
}

#controller>button:first-child{
	background: #D24545;
	color: #E4DEBE;
}

#controller>button:first-child:hover{
	background: #E4DEBE;
	color: #D24545;
}

#controller>button:last-child{
	width: 99%;
}
